<table class="table table-sm">
    <thead>
        <th>Item</th>
        <th>Brand</th>
        <th>Provider</th>
        <th>Expiration</th>       
        <th>Price</th>
        <th>Quantity</th>
        <th>Total</th>
        <th></th>
    </thead>

    <tr *ngFor="let item of orderService.orderItems;let i=index;">
        <td>{{item.productName}}</td>
        <td>{{item.productBrand}}</td>
        <td>{{item.providerName}}</td>
        <td>{{item.productExpirationDate}}</td>
        <td>{{item.productUnitPrice}}</td>
        <td>{{item.orderQuantity}}</td>
        <td>{{item.orderQuantity * item.productUnitPrice | number:'1.2-2' |removeComma}}</td>    
        <td>
            <i class="far fa-trash-alt fa-lg text-danger" (click)="deleteItem(item.productId)" style="cursor:pointer;"></i>
        </td>
      </tr>
    
</table>