<div class="jumbtron">
    <h1 class="display-4 text-center">New Order</h1>
    <hr>
    
    <div class="row">
        <div class="col-md-3">
            <h6 class="text-center">
                Product
            </h6>
            <app-product-select></app-product-select>
        </div>
        <div class="col-md-6">
            <h6 class="text-center">
                Order items
            </h6>
            <app-items-order></app-items-order>
        </div>
        <div class="col-md-3">
            <h6 class="text-center">
                Order
            </h6>
            <app-form-order></app-form-order>
        </div>
    </div>
</div>